<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.avtovideoeditor">


    <application
        android:name="com.iknow.android.ZApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.avtovideoeditor.MultipleCommandsExampleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="Multiple commands"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name="com.example.avtovideoeditor.BPMCounterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="Multiple commands"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name="com.example.avtovideoeditor.gpuvideoandroid.PlayerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.avtovideoeditor.gpuvideoandroid.CameraSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.avtovideoeditor.gpuvideoandroid.PortraitCameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.avtovideoeditor.gpuvideoandroid.LandscapeCameraActivity"
            android:screenOrientation="landscape" />

        <activity android:name="com.example.avtovideoeditor.gpuvideoandroid.SquareCameraActivity" />

        <activity android:name="com.example.avtovideoeditor.gpuvideoandroid.Mp4ComposeActivity" />

        <activity
            android:name="com.example.avtovideoeditor.gpuvideoandroid.GpuActivity"
            android:screenOrientation="portrait" />


        <activity android:name="com.iknow.android.features.trim.VideoTrimmerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.iknow.android.features.record.VideoRecordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.iknow.android.features.select.VideoSelectActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Camera permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


</manifest>